body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;

    transition: background-image 0.7s ease-in-out, background-color 0.7s ease-in-out;
    background-size: cover;
    /* A imagem de fundo cobrirá todo o body */
    background-position: center;
    /* Centraliza a imagem de fundo */
    background-repeat: no-repeat;
    /* Impede a repetição da imagem */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#escolhaTema {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

#textoEscolhaTema {
    width: 50%;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 15px;
}

.textoFrieren {
    background-color: blue;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.textoStark {
    background-color: red;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.textoFern {
    background-color: purple;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.temas {
    display: flex;
    height: 100%;
    gap: 5em;
}

.personagem {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

.personagem:hover {
    transform: translateY(-5px);
}

/* --- CLASSES PARA O BACKGROUND DO BODY --- */
body.fundo-frieren {
    background-image: url('../assets/fundoFrieren.png');
}

body.fundo-stark {
    background-image: url('../assets/fundoStark.png');
}

body.fundo-fern {
    background-image: url('../assets/fundoFern.png');
}